/*----------- Typography -----------------*/
@font-face{
    font-family: "droid-sans";
    src: url('./../assets/fonts/DroidSans-Regular.ttf');
    font-weight: normal;
}
@font-face{
    font-family: "droid-sans";
    src: url('./../assets/fonts/DroidSans-Bold.ttf');
    font-weight: bold;
}
@font-face{
    font-family: "droid-serif";
    src: url('./../assets/fonts/DroidSerif-Regular.ttf');
    font-weight: normal;
}
@font-face{
    font-family: "droid-serif";
    src: url('./../assets/fonts/DroidSerif-Regular.ttf');
    font-weight: bold;
}


/*----------- Variables -----------------*/

$primary: #000066;
$grey: #b2b1b1;
$dark: #141111;
$dark-grey: #666666;
$md-grey:#999999;
$light-grey:#dddddd;
/*----------- Break Points -----------------*/
$xs: 480px;
$sm: 768px;
$md: 991px;
$lg: 1200px; 

/*----------- Parent Classes -----------------*/

.gradient-bg{
    background: -webkit-linear-gradient(legacy-direction(to bottom), #fbfbfb,#dadada);
    background: linear-gradient(to bottom,  #fbfbfb 0%,#dadada 100%);
}

/*----------- Mixins -----------------*/

@mixin xs {
    @media screen and (min-width:$xs){
        @content;
    }
}
@mixin sm {
    @media screen and (min-width:$sm){
        @content;
    }
}
@mixin md {
    @media screen and (min-width:$md){
        @content;
    }
}
@mixin lg {
    @media screen and (min-width:$lg){
        @content;
    }
}