*{
    box-sizing: border-box;
}

body{
    @extend .gradient-bg;
    overflow-x: hidden;
    font-family: droid-serif;
    main{
        min-height: calc(100vh - 157px); //substracting header and footer heights
        @include sm{
            min-height: calc(100vh - 208px); //substracting header and footer heights
        }
    }
}
button.blue{
    background-color: $primary;
    border:0;
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 24px;
}
.text-right{
    text-align: right;
}
/*----------------- Grid ------------*/

.row{
    padding: 15px;
    display: flex;
    &--center{
        justify-content: center;
    }
    .col-6{
        @include md{
            width: 50%;
        }

    }
}